/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/grid/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 33, ../sass/grid/_grid.scss */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  overflow: hidden;
  *zoom: 1;
}

@media only screen {
  /* line 12, ../sass/grid/_grid.scss */
  .col-xs-center {
    margin: 0 auto;
    float: none;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-0 {
    left: 0%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-0 {
    left: 0%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 8.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-1 {
    left: 8.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-1 {
    left: 8.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 16.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-2 {
    left: 16.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-2 {
    left: 16.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 25%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-3 {
    left: 25%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-3 {
    left: 25%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 33.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-4 {
    left: 33.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-4 {
    left: 33.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 41.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-5 {
    left: 41.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-5 {
    left: 41.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 50%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-6 {
    left: 50%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-6 {
    left: 50%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 58.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-7 {
    left: 58.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-7 {
    left: 58.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 66.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-8 {
    left: 66.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-8 {
    left: 66.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 75%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-9 {
    left: 75%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-9 {
    left: 75%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-10 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 83.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-10 {
    left: 83.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-10 {
    left: 83.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-11 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 91.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-11 {
    left: 91.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-11 {
    left: 91.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xs-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 100%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xs-push-12 {
    left: 100%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xs-pull-12 {
    left: 100%;
  }
}
@media only screen and (min-width: 540px) {
  /* line 12, ../sass/grid/_grid.scss */
  .col-s-center {
    margin: 0 auto;
    float: none;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-0 {
    left: 0%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-0 {
    left: 0%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 8.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-1 {
    left: 8.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-1 {
    left: 8.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 16.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-2 {
    left: 16.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-2 {
    left: 16.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 25%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-3 {
    left: 25%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-3 {
    left: 25%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 33.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-4 {
    left: 33.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-4 {
    left: 33.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 41.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-5 {
    left: 41.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-5 {
    left: 41.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 50%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-6 {
    left: 50%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-6 {
    left: 50%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 58.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-7 {
    left: 58.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-7 {
    left: 58.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 66.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-8 {
    left: 66.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-8 {
    left: 66.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 75%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-9 {
    left: 75%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-9 {
    left: 75%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-10 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 83.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-10 {
    left: 83.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-10 {
    left: 83.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-11 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 91.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-11 {
    left: 91.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-11 {
    left: 91.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-s-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 100%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-s-push-12 {
    left: 100%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-s-pull-12 {
    left: 100%;
  }
}
@media only screen and (min-width: 720px) {
  /* line 12, ../sass/grid/_grid.scss */
  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-0 {
    left: 0%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-0 {
    left: 0%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 8.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-1 {
    left: 8.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-1 {
    left: 8.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 16.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-2 {
    left: 16.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-2 {
    left: 16.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 25%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-3 {
    left: 25%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-3 {
    left: 25%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 33.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-4 {
    left: 33.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-4 {
    left: 33.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 41.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-5 {
    left: 41.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-5 {
    left: 41.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 50%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-6 {
    left: 50%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-6 {
    left: 50%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 58.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-7 {
    left: 58.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-7 {
    left: 58.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 66.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-8 {
    left: 66.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-8 {
    left: 66.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 75%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-9 {
    left: 75%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-9 {
    left: 75%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-10 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 83.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-10 {
    left: 83.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-10 {
    left: 83.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-11 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 91.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-11 {
    left: 91.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-11 {
    left: 91.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-m-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 100%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-m-push-12 {
    left: 100%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-m-pull-12 {
    left: 100%;
  }
}
@media only screen and (min-width: 960px) {
  /* line 12, ../sass/grid/_grid.scss */
  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-0 {
    left: 0%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-0 {
    left: 0%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 8.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-1 {
    left: 8.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-1 {
    left: 8.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 16.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-2 {
    left: 16.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-2 {
    left: 16.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 25%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-3 {
    left: 25%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-3 {
    left: 25%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 33.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-4 {
    left: 33.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-4 {
    left: 33.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 41.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-5 {
    left: 41.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-5 {
    left: 41.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 50%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-6 {
    left: 50%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-6 {
    left: 50%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 58.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-7 {
    left: 58.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-7 {
    left: 58.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 66.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-8 {
    left: 66.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-8 {
    left: 66.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 75%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-9 {
    left: 75%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-9 {
    left: 75%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-10 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 83.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-10 {
    left: 83.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-10 {
    left: 83.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-11 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 91.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-11 {
    left: 91.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-11 {
    left: 91.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-l-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 100%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-l-push-12 {
    left: 100%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-l-pull-12 {
    left: 100%;
  }
}
@media only screen and (min-width: 1140px) {
  /* line 12, ../sass/grid/_grid.scss */
  .col-xl-center {
    margin: 0 auto;
    float: none;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-0 {
    left: 0%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-0 {
    left: 0%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 8.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-1 {
    left: 8.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-1 {
    left: 8.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 16.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-2 {
    left: 16.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-2 {
    left: 16.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 25%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-3 {
    left: 25%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-3 {
    left: 25%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 33.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-4 {
    left: 33.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-4 {
    left: 33.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 41.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-5 {
    left: 41.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-5 {
    left: 41.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 50%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-6 {
    left: 50%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-6 {
    left: 50%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 58.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-7 {
    left: 58.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-7 {
    left: 58.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 66.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-8 {
    left: 66.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-8 {
    left: 66.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 75%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-9 {
    left: 75%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-9 {
    left: 75%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-10 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 83.33333%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-10 {
    left: 83.33333%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-10 {
    left: 83.33333%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-11 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 91.66667%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-11 {
    left: 91.66667%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-11 {
    left: 91.66667%;
  }

  /* line 18, ../sass/grid/_grid.scss */
  .col-xl-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    padding: 0 15px;
    width: 100%;
  }

  /* line 28, ../sass/grid/_grid.scss */
  .col-xl-push-12 {
    left: 100%;
  }

  /* line 29, ../sass/grid/_grid.scss */
  .col-xl-pull-12 {
    left: 100%;
  }
}
/* line 7, ../sass/modules/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e6e6e6;
}

/* line 14, ../sass/modules/_base.scss */
.container {
  margin: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 3px #b1d8d8;
  border-radius: 10px;
}
/* line 20, ../sass/modules/_base.scss */
.container.competitors {
  box-shadow: none;
  background-color: #e6e6e6;
}

/* line 27, ../sass/modules/_base.scss */
.title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  color: #ff646b;
}

/* line 38, ../sass/modules/_base.scss */
.show-date {
  padding-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 0.85em;
  line-height: 2em;
  text-align: center;
}

/* line 50, ../sass/modules/_base.scss */
.competitor {
  display: block;
  margin: 5px;
  padding: 20px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 2em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #b1d8d8;
}
/* line 60, ../sass/modules/_base.scss */
.competitor .counter {
  padding: 15px 0;
  font-size: 3em;
  line-height: 3em;
  font-weight: bold;
}

/*------------------------------------*\
    $Variables
\*------------------------------------*/
/* line 9, ../sass/modules/_header.scss */
header {
  width: 100%;
  height: 50px;
  background-color: #aaa;
}
/* line 14, ../sass/modules/_header.scss */
header .l-container {
  height: 50px;
  display: flex;
  /* No use of the lines below, because these lines need to be applied to the .menu */
}

/* line 29, ../sass/modules/_header.scss */
.menu {
  display: flex;
  flex: 1 0 auto;
  /*this is the parameter which make the full-width of the .menu*/
  border: 1px solid #00f;
}
/* line 40, ../sass/modules/_header.scss */
.menu .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  border: 1px solid #0f0;
}
