
$bgcolor: rgba(230,230,230,1.00);
$box-shadow-color: rgba(177,216,216,1.00);
$box-color: #fff;
$title-color: rgba(255,100,107,1.00);

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $bgcolor;
}

.container {
	margin: 20px;
	background-color: $box-color;
	box-shadow: 1px 1px 3px $box-shadow-color;
	border-radius: 10px;

	&.competitors {
		box-shadow: none;
    background-color: $bgcolor;
	}
}


.title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  color: $title-color;
}

.show-date {
  padding-bottom: 5px;

  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 0.85em;

  line-height: 2em;
  text-align: center;
}

.competitor,  {
	display: block;
	margin: 5px;
	padding: 20px;
	height: 100%;

	font-family: 'Roboto', sans-serif;
	text-align: center;
	line-height: 2em;

	.counter {
		padding: 15px 0;
		font-size: 3em;
		line-height: 3em;
		font-weight: bold;
	}

	background-color: $box-color;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #b1d8d8;
}

