
$bgcolor: #e6e6e6;
$box-color: #fff;

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $bgcolor;
}

.container {
	margin: 20px;
	background-color: $box-color;
	box-shadow: 1px 1px 3px #b1d8d8;
	border-radius: 10px;

	&.title {
		padding: 30px;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 1.5em;
		line-height: 2em;
		text-align: center;
		color: #FF646B;
	}
	&.competitors {
		background-color: $bgcolor;
		box-shadow: none;
		//border: 1px solid #000;
	}

}

.competitor {
	display: block;
	margin: 5px;
	padding: 20px;
	height: 100%;
	font-family: 'Roboto', sans-serif;

	text-align: center;
	line-height: 2em;
	//flex: 1 1 auto;
	//border: 2px solid #000;

	.counter {
		padding: 15px 0;
		font-size: 3em;
		line-height: 3em;
		font-weight: bold;
		&:hover {
			cursor: url(../img/counter-no-transparent.png) 5 5, auto;
		}
		//border: 5px solid #FF606C;
	}

	background-color: $box-color;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #b1d8d8;
}

